.Box{
            text-align: center;
            padding: 10px;
            width: 10px;
            margin: 10px;
        }
        #CSE-13{
            color: chocolate;
            padding: 100px;
            width: 100px;
            margin: 100px;
        }